#import <Foundation/Foundation.h>

#import "CrossPLUtils.h"

#define ENABLE_PLATFORM_FUNCTION
#import "%ClassName%.proxy.h"

#import "CrossPL/CrossPL-Swift.h"
#import "%ProductName%/%ProductName%-Swift.h"
#import "%ClassName%.hpp"


%PlatformFunction%

%NativeFunction%
