#import <Foundation/Foundation.h>

#import "%ClassName%.native.proxy.h"
#import "%ClassName%.platform.proxy.h"

#import "CrossPL/CrossPL-Swift.h"
#import "%ProductName%/%ProductName%-Swift.h"
#import "%ClassName%.hpp"

#import "CrossPLUtils.h"

%PlatformFunction%

%NativeFunction%
