#ifndef _CROSSPL_PROXY_%ClassName%_HPP_
#define _CROSSPL_PROXY_%ClassName%_HPP_

#ifdef __cplusplus
extern "C" {
#endif

%PlatformFunction%

%NativeFunction%

#ifdef __cplusplus
} // extern "C"
#endif

#endif /* _CROSSPL_PROXY_%ClassName%_HPP_ */
