#ifndef _CROSSPL_CrossPLFactory_HPP_
#define _CROSSPL_CrossPLFactory_HPP_

#include <jni.h>

#include <experimental-span.hpp>

namespace crosspl {

class CrossPLFactory {
public:
  /*** type define ***/

  /*** static function and variable ***/
  static int OnLoad(JavaVM* jvm);

  /*** class function and variable ***/
  static int64_t CreateCppObject(const char* javaClassName);
  static int DestroyCppObject(const char* javaClassName, int64_t cppHandle);

//  static int64_t CreateJavaObject(const char* cppClassName, int64_t cppHandle);
//  static int DestroyJavaObject(const char* cppClassName, int64_t cppHandle);

private:
  /*** type define ***/

  /*** static function and variable ***/
  static const char* GetJavaClassPath(const char* cppClassName);
  static bool EndsWith(const char* data, const char* ending);

  /*** class function and variable ***/

}; // class CrossPLFactory
} // namespace crosspl

#endif /* _CROSSPL_CrossPLFactory_HPP_ */
