#import "CrossPLFactory.h"
#import <memory>

#import "CrossBase.hpp"
%IncludeProxyHeader%
%IncludeCppHeader%

static int64_t createCppObject(const char* swiftClassName)
{
  printf("%s %s", __PRETTY_FUNCTION__, swiftClassName);
  void *ptr = nullptr;
  
%CreateCppObject%
  
  
  auto cppHandle = reinterpret_cast<int64_t>(ptr);
  return cppHandle;

}

static int destroyCppObject(const char* swiftClassName, int64_t cppHandle)
{
  if(cppHandle == 0) {
    return -1;
  }

  printf("%s %s", __PRETTY_FUNCTION__, swiftClassName);

%DestroyCppObject%

  return -1;
}

__attribute__((constructor)) static void OnLoad() {
  printf("%s %s\n", "%ProductName%", __PRETTY_FUNCTION__);

  RegCreateCppObjFunc(createCppObject);
  RegDestroyCppObjFunc(destroyCppObject);
}
